<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fx.server.mapper.SysLoginInforMapper">
    <resultMap id="BaseResultMap" type="com.fx.server.entity.log.SysLoginInfor">
        <id column="info_id" jdbcType="BIGINT" property="infoId"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="ipaddr" jdbcType="VARCHAR" property="ipaddr"/>
        <result column="login_location" jdbcType="VARCHAR" property="loginLocation"/>
        <result column="browser" jdbcType="VARCHAR" property="browser"/>
        <result column="os" jdbcType="VARCHAR" property="os"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="msg" jdbcType="VARCHAR" property="msg"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        info_id
        , login_name, ipaddr, login_location, browser, os, `status`, msg, login_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_logininfor
        where info_id = #{infoId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sys_logininfor
        where info_id = #{infoId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="info_id" keyProperty="infoId"
            parameterType="com.fx.server.entity.log.SysLoginInfor" useGeneratedKeys="true">
        insert into sys_logininfor (login_name, ipaddr, login_location,
                                    browser, os, `status`, msg,
                                    login_time)
        values (#{loginName,jdbcType=VARCHAR}, #{ipaddr,jdbcType=VARCHAR}, #{loginLocation,jdbcType=VARCHAR},
                #{browser,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{msg,jdbcType=VARCHAR},
                #{loginTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="info_id" keyProperty="infoId"
            parameterType="com.fx.server.entity.log.SysLoginInfor" useGeneratedKeys="true">
        insert into sys_logininfor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loginName != null">
                login_name,
            </if>
            <if test="ipaddr != null">
                ipaddr,
            </if>
            <if test="loginLocation != null">
                login_location,
            </if>
            <if test="browser != null">
                browser,
            </if>
            <if test="os != null">
                os,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="msg != null">
                msg,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="ipaddr != null">
                #{ipaddr,jdbcType=VARCHAR},
            </if>
            <if test="loginLocation != null">
                #{loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                #{browser,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                #{os,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="msg != null">
                #{msg,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fx.server.entity.log.SysLoginInfor">
        update sys_logininfor
        <set>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="ipaddr != null">
                ipaddr = #{ipaddr,jdbcType=VARCHAR},
            </if>
            <if test="loginLocation != null">
                login_location = #{loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                browser = #{browser,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                os = #{os,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=CHAR},
            </if>
            <if test="msg != null">
                msg = #{msg,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where info_id = #{infoId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fx.server.entity.log.SysLoginInfor">
        update sys_logininfor
        set login_name     = #{loginName,jdbcType=VARCHAR},
            ipaddr         = #{ipaddr,jdbcType=VARCHAR},
            login_location = #{loginLocation,jdbcType=VARCHAR},
            browser        = #{browser,jdbcType=VARCHAR},
            os             = #{os,jdbcType=VARCHAR},
            `status`       = #{status,jdbcType=CHAR},
            msg            = #{msg,jdbcType=VARCHAR},
            login_time     = #{loginTime,jdbcType=TIMESTAMP}
        where info_id = #{infoId,jdbcType=BIGINT}
    </update>


    <select id="selectPage" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_logininfor
        <where>
            <if test="params.loginName != null and params.loginName != ''">
                AND login_name like concat('%', #{params.loginName}, '%')
            </if>
            <if test="params.ipaddr != null and params.ipaddr != ''">
                AND ipaddr = #{params.ipaddr}
            </if>
            <if test="params.status != null and params.status != ''">
                AND status = #{params.status}
            </if>

            <if test="params.startTime != null and params.startTime != ''"><!-- 开始时间检索 -->
                and date_format(login_time,'%y%m%d') &gt;= date_format(#{params.startTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(login_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        ORDER BY login_time DESC
    </select>
</mapper>